In [90]:
import pandas as pd

In [91]:
# defince a constant for the sol base unit of 1000000000
SOL_BASE = 1000000000

In [92]:
bare_rarity = pd.read_csv("./data/okay_bear/okay_bears_rarity.csv")

In [93]:
sales = pd.read_csv("./data/okay_bear/transactions.csv")

In [94]:
# convert trade time to datetime from epoch
sales["tradeTime"] = pd.to_datetime(sales["tradeTime"], unit="s")

In [95]:
# divide price by SOL_BASE to get price in SOL
sales["price"] = sales["price"] / SOL_BASE

In [96]:
# get the first and last trade time
first_trade_time = sales["tradeTime"].min()
last_trade_time = sales["tradeTime"].max()

In [97]:
sales

,Unnamed: 0,tradeCount,tradeTime,price,dex,signature,name
0,0,2,2022-04-28 10:12:39,64.9999,magiceden,55mnGHHCG1zKYUBqW6d3z8D5RKi7wZEA7ksT1LocKTp6Sg...,Okay Bear #9999
1,1,4,2022-04-28 03:32:02,110.0000,magiceden,JayNLh3WCbdqXfyuYUtWiEsgo6KmsT6SdGSvbdF2x8kqM6...,Okay Bear #9997
2,2,1,2022-04-27 02:37:46,40.6900,magiceden,2aJvuPkBALGWFiY9wHUHoFcTen4VGARpUgj83q7VaPxfNF...,Okay Bear #9996
3,3,7,2022-05-02 00:05:41,90.0000,magiceden,3Wsz379AZ6eyCC1crSMSVyUXWE5tTjTvwRY5Zpxn2UFmNa...,Okay Bear #9995
4,4,1,2022-04-26 20:49:30,10.9900,magiceden,4cSNt1g24CaFeGemPwcpQrn3nKNtPf8ZSWxY8ULSCHepNK...,Okay Bear #9994
...,...,...,...,...,...,...,...
14945,14945,2,2022-04-28 05:31:46,60.0000,magiceden,65GQtBV2GXwQyJtzjWc285E9wWfD6NHFMJX7LSTfWePW3J...,Okay Bear #9559
14946,14946,2,2022-05-05 14:34:53,119.0000,magiceden,4hcBE8h9Py7J7hbsDiD6XN8cK78AUEejJxG4qpnsY1QRUj...,Okay Bear #9557
14947,14947,1,2022-06-12 14:00:15,99.0000,magiceden,38ycCBg257Tsum9CUhFcuTfzxSnyjWCikKwWzdkDE2pf85...,Okay Bear #9555
14948,14948,3,2022-06-15 05:48:44,91.0000,magiceden,4B43NFnniWLfrQ62bVEKZQq6a4q5qwt3Mot7DS7KkMjGbW...,Okay Bear #9556
14949,14949,1,2022-04-29 22:08:38,139.6900,magiceden,5YxUApMMqXAqBUW7G1pKur2gYR9k4Wofs1v9PQzzr32f37...,Okay Bear #9554

In [98]:
bare_rarity

,name,Background_rarity,Fur_rarity,Mouth_rarity,Eyes_rarity,Clothes_rarity,Eyewear_rarity,Hat_rarity,min_rarity,max_rarity,mean_rarity,factoral_rarity,rarity_rank
0,Okay Bear #9335,0.1265,0.0052,0.0025,0.0965,0.0275,0.0320,0.0551,0.0025,0.1265,0.049329,696.337982,1
1,Okay Bear #4396,0.1222,0.0158,0.0025,0.0965,0.0227,0.6672,0.0085,0.0025,0.6672,0.133629,645.035863,2
2,Okay Bear #1469,0.1222,0.0259,0.0025,0.0199,0.0139,0.6672,0.0214,0.0025,0.6672,0.124714,617.214820,3
3,Okay Bear #7788,0.1265,0.0052,0.0116,0.0671,0.0037,0.6672,0.0256,0.0037,0.6672,0.129557,612.154428,4
4,Okay Bear #8263,0.1261,0.1440,0.0049,0.0310,0.0104,0.6672,0.0041,0.0041,0.6672,0.141100,592.769442,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Okay Bear #6054,0.1227,0.1413,0.2305,0.1309,0.1965,0.6672,0.2698,0.1227,0.6672,0.251271,37.499223,9996
9996,Okay Bear #2482,0.1326,0.1413,0.2305,0.1309,0.1965,0.6672,0.2698,0.1309,0.6672,0.252686,36.890742,9997
9997,Okay Bear #7832,0.1222,0.1268,0.2305,0.2023,0.1965,0.6672,0.2698,0.1222,0.6672,0.259329,35.645599,9998
9998,Okay Bear #7166,0.1261,0.1440,0.2305,0.2023,0.1965,0.6672,0.2698,0.1261,0.6672,0.262343,34.450516,9999
9999,Okay Bear #7389,0.1326,0.1440,0.2305,0.2023,0.1965,0.6672,0.2698,0.1326,0.6672,0.263271,34.061780,10000

In [99]:
# join the sales and rarity dataframes on name
sales_rarity = sales.merge(bare_rarity, on="name")

In [100]:
#remove Okay Bear # from name and convert to int 
sales_rarity["name"] = sales_rarity["name"].str.replace("Okay Bear #", "")
sales_rarity["name"] = sales_rarity["name"].astype(int)

In [101]:
# drop columns Unnamed: 0, dex, signature
sales_rarity.drop(columns=["Unnamed: 0", "dex", "signature", "tradeCount", "tradeTime"], inplace=True)

In [102]:
# Necessary imports
import numpy as np
import pandas as pd
import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [103]:
# create train and test sets
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [104]:
xgb_model = xg.XGBRegressor(
    n_estimators=100,
    objective="reg:squarederror",
    nthread=-1,
    seed=42,
)

In [105]:
#fit the model
xgb_model.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100,
             n_jobs=-1, nthread=-1, num_parallel_tree=1, predictor='auto',
             random_state=42, reg_alpha=0, ...)

In [106]:
#prediction on test set
y_pred = xgb_model.predict(x_test)

In [107]:
#calculate MSE
mse = MSE(y_test, y_pred)
print(mse)

0.24372317744452315

In [108]:
#what is the prediction for Okay Bear #1?
xgb_model.predict(x_test.iloc[0:1])

array([10.7041645], dtype=float32)